#include "..\src\main.h"

GRINBOX_MAIN_ICON ICON "icon1.ico"

GRINBOX_MAIN_MENU MENU
BEGIN
	POPUP "&File"
		BEGIN
			MENUITEM "&Load background",ID_MENU_LOADBACKGROUND
			MENUITEM SEPARATOR
			MENUITEM "E&xit",ID_MENU_EXIT
		END
	POPUP "&View"
		BEGIN
		MENUITEM "Background",ID_BACK
		MENUITEM "Camera",ID_CAM
		MENUITEM "Combined",ID_COMB, CHECKED
		MENUITEM "Mask",ID_FILTERED
		END
	POPUP "&Mask"
		BEGIN
		MENUITEM "Off",ID_MASK_OFF
		MENUITEM "3x3",ID_MASK_3, CHECKED
		MENUITEM "5x5",ID_MASK_5
		END
	POPUP "&Help"
		BEGIN
			MENUITEM "&About",ID_MENU_ABOUT
		END
END